[Unit]
Description=cybertrain playground host firewall rules
After=docker.service
Requires=docker.service
PartOf=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/cybertrain-play-firewall

[Install]
WantedBy=multi-user.target
